@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-size: 1.125em;
  background-color: hsl(217, 54%, 11%);
}

.card-component {
  max-width: 18.75em;
  background-color: hsl(216, 50%, 16%);
  padding: 1.563em;
  display: flex;
  flex-direction: column;
  border-radius: 0.938em;
  overflow: hidden;
  margin: 1.563em;
}
.img-section {
  display: block;
  max-width: 15.625em;
  border-radius: 0.313em;
  overflow: hidden;
  margin-bottom: 0.938em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-img {
  display: block;
  max-width: 15.625em;
  position: relative;
  z-index: 2;
}
.effect {
  transition: background-color 0.4s linear;
}
.effect img {
  display: none;
}
.img-section:hover .effect {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-section:hover .effect img {
  display: block;
}

.main-header {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  margin-bottom: 1.25em;
  font-weight: 500;
  transition: color 0.3s linear;
}
.main-header:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.card-description {
  color: hsl(215, 51%, 70%);
  font-size: 0.85em;
  margin-bottom: 1.25em;
  font-weight: 300;
}
.ethereum-clock-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25em;
}
.ethereum-clock-container p {
  display: flex;
  align-items: center;
  font-size: 0.85em;
}
.ethereum-clock-container p:first-of-type {
  color: hsl(178, 100%, 50%);
}
.ethereum-clock-container p:last-of-type {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
.ethereum-clock-container p img {
  margin-right: 0.313em;
}
hr {
  hr {
  border: none;
  border-top: 1px solid hsl(215, 32%, 27%);
  margin-bottom: 0.938em;
}
}
.creator-info {
  display: flex;
  justify-content: start;
  align-items: center;
  color: hsl(215, 51%, 70%);
}
.creator-info img {
  width: 2.188em;
  border: 0.063em solid hsl(0, 0%, 100%);
  margin-right: 0.625em;
  border-radius: 50%;
}
.creator-info p {
  font-size: 0.85em;
}
.creator-info p span {
  color: hsl(0, 0%, 100%);
  transition: color 0.3s linear;
}
.creator-info p span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
