* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}
main {
  max-width: 350px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}
/* --------------------------------- */
.image-container {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.one {
  width: 100%;
  height: 100%;
  background-image: url(../images/image-equilibrium.jpg);
  background-size: cover;
  background-position: center;
}

.three {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.image-container:hover .three {
  opacity: 1;
}
.three img {
  display: block;
}

/* ---------------------------------- */
.card-title {
  color: hsl(0, 0%, 100%);
}
p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}
.card-price span {
  color: hsl(178, 100%, 50%);
}
.card-creator-name {
  color: hsl(0, 0%, 100%);
}

/* ---------------------------------- */
.card-element {
  margin-bottom: 20px;
}
.card-details {
  display: flex;
  justify-content: space-between;
}
.card-price::before {
  content: url(../images/icon-ethereum.svg);
  vertical-align: middle;
  margin-right: 5px;
}
.card-remaining-time::before {
  content: url(../images/icon-clock.svg);
  vertical-align: middle;
  margin-right: 5px;
}
/* ---------------------------------- */
hr {
  margin-bottom: 20px;
  border: none;
  border-bottom: 0.05px solid hsl(215, 51%, 70%);
}
.creator-information {
  display: flex;
  justify-content: left;
  align-items: center;
}
.creator-information img {
  max-width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 20px;
}
.card-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.card-creator-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
